* {
  box-sizing: border-box;
}

a {
  transition: all 0.15s ease;
}

/* text-yellow-500 */
a:hover {
  color: #F59E0B;
  text-decoration: none;
}

.text-orange {
  color: #F59E0B !important;
  fill: #F59E0B !important;
}


.top-neg-8 {
  top: -8px;
} 

.card-header .fa.text-orange,
.card .card-header .fas.text-orange {
  color: #ff5e3a;
  fill: #ff5e3a;
}

.introduction-bg {
  animation: slide 50s linear infinite;
  will-change: background-position;
  z-index: -1;
}

.upload-dropbox.upload-dropbox-drag{
  color: #fff;
  background-color: #20d862;
  border-color: #20d862;
  border-style: solid;
}

input[type="file"]{
  margin-top: 20px;
}

.progress-bar {
  background-size: 1rem 1rem;
  background-image: linear-gradient(
    45deg, rgba(255,255,255,.15) 
    25%, transparent 
    25%, transparent 
    50%, rgba(255,255,255,.15) 
    50%,rgba(255,255,255,.15) 
    75%, transparent 
    75%, transparent
  );
  animation: progress-bar-stripes 1s linear infinite;
}

@keyframes progress-bar-stripes {
  0% {
    background-position: 1rem 0;
  }
  100% {
    background-position: 0 0;
  }
}

@keyframes slide {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -4000px 0;
  }
}
