* {
  box-sizing: border-box;
}

body {
  font-size: 16px;
}

a {
  transition: all 0.15s ease;
}

/* text-yellow-500 */
a:hover {
  color: #F59E0B;
  text-decoration: none;
}

.text-orange {
  color: #F59E0B !important;
  fill: #F59E0B !important;
}


.top-neg-8 {
  top: -8px;
} 

.card-header .fa.text-orange,
.card .card-header .fas.text-orange {
  color: #ff5e3a;
  fill: #ff5e3a;
}

.introduction-bg {
  animation: slide 50s linear infinite;
  will-change: background-position;
  z-index: -1;
}

.upload-dropbox.upload-dropbox-drag{
  color: #fff;
  background-color: #20d862;
  border-color: #20d862;
  border-style: solid;
}

input[type="file"]{
  margin-top: 20px;
}
